# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
env/
*.sqlite3

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build/Logs
dist/
build/
*.log

# Data & large files
*.xlsx
*.csv
*.parquet
*.h5
*.pkl
*.joblib

# Dash/Cache
.cache/
